@model ProductAddViewModel

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <form asp-controller="Product" asp-action="Add" method="post" enctype="multipart/form-data">
            <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <div style="display: flex; align-items: center;">
                    <label asp-for="Product.Name" style="font-weight: bold; font-size:1.2em; width: 150px; text-align: right; padding-right: 10px;"></label>
                    <input asp-for="Product.Name" />
                    <span style="color: red;" asp-validation-for="Product.Name"></span>
                </div>
                <div style="display: flex; align-items: center;">
                    <label asp-for="Product.Description" style="font-weight: bold; font-size:1.2em; width: 150px; text-align: right; padding-right: 10px;"></label>
                    <input asp-for="Product.Description" />
                    <span style="color: red;" asp-validation-for="Product.Description"></span>
                </div>
                <div style="display: flex; align-items: center;">
                    <label asp-for="Product.Price" style="font-weight: bold; font-size:1.2em; width: 150px; text-align: right; padding-right: 10px;"></label>
                    <input asp-for="Product.Price" />
                    <span style="color: red;" asp-validation-for="Product.Price"></span>
                </div>
                <div style="display: flex; align-items: center;">
                    <label asp-for="Product.Discount" style="font-weight: bold; font-size:1.2em; width: 150px; text-align: right; padding-right: 10px;"></label>
                    <input asp-for="Product.Discount" />
                    <span style="color: red;" asp-validation-for="Product.Discount"></span>
                </div>

                <div style="display: flex; align-items: center;text-align:right; margin-left:25%">
                    <input asp-for="Product.ImageLink" type="file" name="imageFile" accept="image/*" />
                    <span style="color: red;" asp-validation-for="Product.ImageLink"></span>
                </div>

                <div>
                    <button style="width:150px; margin-top:30px; font-weight:bold; font-size:1.3em;" class="btn btn-primary" type="submit">Add</button>
                </div>
            </div>
        </form>
    </section>
</body>
</html>